@import '../shared-styles.css';

.head {
     
    background-color: antiquewhite;
    font-family: 'Crimson Text', serif;
             
}


.logo_uesc{
    padding-right: 70%;
    max-width: 80px;
    max-height: 80px;

}


