
<h1 class="form"> Formulário</h1>
<div class="formulario">
   
    <form>
    <label>Marca:</label>
    <input class="marca" name="marca">
    <br>
    <label>Modelo:</label>
    <input class="modelo" name="modelo">
    <br>
    <label>Ano:</label>
    <input class="ano" name="ano">
    <br>
    <label>Valor:</label>
    <input class="valor" name="valor">
    <br>
    <label>Cor:</label>
    <input class="cor" type="color" name="cor">
    <br>
    <label>Foto:</label>
    <input class="foto" type="file" name="foto">
    <br>
    <button class="botao"> Enviar </button>


</form>
</div>